.box-banner-newproduct {
  width: 100% !important;
  height: 90% !important;
  overflow: hidden !important;
  border-radius: 1rem !important;
}
.img-banner-newproduct {
  width: 100% !important;
  object-fit: cover !important;
  height: 100% !important;
}

@media only screen and (min-width:1200px) {
  .box-banner-newproduct {
    width: 100% !important;
    height: 85% !important;
    overflow: hidden !important;
    border-radius: 1rem !important;
  }
}