.parent-swiper-box {
  height: max-content !important;
  position: relative !important;
}

.navigation-btn-st {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  /* background-color: green !important; */
  bottom: 0 !important;
}

.mx-swiper-box {
  margin-left: 4rem !important;
  margin-right: 4rem !important;
}

.swiper-next-button,
.swiper-prev-button {
  border-radius: 0.5rem !important;
  border: none !important;
  box-shadow: 0 0 5px var(--bg-head-section) !important;
  padding-left: 0.7rem !important;
  padding-right: 0.7rem !important;
  background-color: var(--bg-main) !important;
  transition: 200ms;
}

.swiper-next-button:hover,
.swiper-prev-button:hover {
  background-color: #F6F7FC !important;
}

.swiper-prev-button.swiper-button-disabled {
  background-color: #F6F7FC !important;
}

.swiper-next-button.swiper-button-disabled {
  background-color: #F6F7FC !important;
}

.icon-swiper {
  color: #0f499f !important;
}

.swiper-prev-button.swiper-button-disabled>.icon-swiper {
  color: #BFC4D4 !important;
}

.swiper-next-button.swiper-button-disabled>.icon-swiper {
  color: #BFC4D4 !important;
}

.PopularCategories-slider-box-shadow {
  box-shadow: 0 0 5px var(--bg-head-section);
  height: 90% !important;
}

@media only screen and (max-width: 767px) {
  .mx-swiper-box {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }
}