.link-st {
  text-decoration: none !important;
  color: var(--text-color-main) !important;
  transition: 200ms !important;
  font-size: 15px !important;
}

.link-st:hover{
  color: var(--text-hover) !important;
}

.list-group-item {
  cursor: pointer !important;
}