.headerSize {
  position: fixed !important;
  width: 100% !important;
  height: 11rem !important;
}

.topBar {
  width: 100% !important;
  height: max-content !important;
}

.left-box-topbar {
  width: max-content !important;
  height: 100% !important;
}

.right-box-topbar {
  width: 100%;
  height: 100%;
  padding-right: 1rem;
}

#input::placeholder {
  color: var(--text-color-main);
  font-size: 0.75rem;
}

.after-item::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  background-color: #1e36bd30;
}

.after-item-shadow::after{
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 1000;
  bottom: 0;
  border-bottom: 1px solid #1e36bd1e;
  box-shadow: 0 2px 5px #1e36bd30 , 0 2px 5px #1e36bd30 , 0 2px 5px #1e36bd30;
}

.d_flex_lg {
  display: none !important;
}
.d_flex_sm {
  display: flex !important;
}
.d_inline_lg {
  display: none !important;
}
.px_lg {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}
.me_lg {
  margin: 0 !important;
}
.w_lg {
  width: 25% !important;
}

@media only screen and (min-width: 335px) {
  .d_flex_lg {
    display: none !important;
  }
  .d_flex_sm {
    display: flex !important;
  }
  .d_inline_lg {
    display: none !important;
  }
  .px_lg {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
  .me_lg {
    margin: 0 !important;
  }
  .w_lg {
    width: 25% !important;
  }
  .right-box-topbar {
    width: 100%;
    height: 100%;
    padding-right: 1rem;
  }
  .d_btn_canvas{
    display: flex !important;
  }
}

@media only screen and (min-width: 1280px) {
  .w-navbar-item {
    width: 65% !important;
  }
  #input::placeholder {
    color: var(--text-color-main);
    font-size: 0.75rem;
  }
  .d-topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .d_flex_lg {
    display: flex !important;
  }
  .d_flex_sm {
    display: none !important;
  }
  .d_inline_lg {
    display: inline !important;
  }
  .px_lg {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .me_lg {
    margin-right: 1rem !important;
  }
  .w_lg {
    width: 100% !important;
  }
  .right-box-topbar {
    width: 45%;
    height: 100%;
    padding-right: 0;
  }
  .d_btn_canvas{
    display: none !important;
  }
}

@media only screen and (min-width: 1400px) {
  .w-navbar-item {
    width: 55% !important;
  }
  #input::placeholder {
    color: var(--text-color-main);
    font-size: 0.85rem;
  }
}