#root{
  --bg-main: #FFFFFF;
  --bg-btn: #F04055;
  --text-color-main: #021857;
}

.headerSize {
  width: 100% !important;
  height: 11rem !important;
}

.topBar {
  width: 100% !important;
  height: max-content !important;
}

.bg-main {
  background-color: var(--bg-main) !important;
}

.bg-btn {
  background-color: var(--bg-btn) !important;
  color: var(--bg-main) !important;
}

.text-color-main {
  color: var(--text-color-main) !important;
}

.left-box-topbar {
  width: max-content !important;
  height: 100% !important;
}

.right-box-topbar {
  width: 45%;
  height: 100%;
}

#input::placeholder {
  color: var(--text-color-main);
  font-size: 0.95rem;
}

.after-item::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  background-color: #1e36bd30;
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1500px !important;
  }
}