.head-section {
  z-index: 1;
  position: relative;
}

.head-section-left , .head-section-right {
  z-index: 2;
  color: var(--text-color-main);
}

.head-section::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  /* top: 0; */
  left: 0;
  background-color: var(--bg-head-section);
}

.icon-head-section {
  color: #353fff30 !important;
  transition: 100ms;
}
.head-section-left:hover>.icon-head-section {
  color: #1c23b18f !important;
}

.fs-HeadSection{
  font-size: 1.4rem !important;
}

.fs-HeadSection-link{
  font-size: 1rem !important;
}

@media only screen and (max-width: 450px){
  .fs-HeadSection{
    font-size: 0.8rem !important;
  }
  .fs-HeadSection-link{
    font-size: 0.8rem !important;
  }
}