.trend-img-st {
  width: 100% !important;
  height: auto !important;
  object-fit: cover !important;
  border-radius: 1rem !important;
  display: block !important;
}

.trend-card-slider-box-st {
  display: flex !important;
  justify-content: center !important;
  align-items: start !important;
}

.h-trend-card-slider-box {
  height: 95% !important;
}