:root {
  --bg-main: #FFFFFF;
  --bg-offcanvas: #fffffff8;
  --bg-btn: #F04055;
  --bg-head-section: #1e36bd19;
  --text-color-main: #021959;
  --subtext-color-main: #98A1BE;
  --text-color-content: #0650A3;
  --text-hover: #f3273f;
  --bg-color-1: #E5E8EE;
}

.bg-main {
  background-color: var(--bg-main) !important;
}

.bg-btn {
  background-color: var(--bg-btn) !important;
  color: var(--bg-main) !important;
}

.text-color-main {
  color: var(--text-color-main) !important;
}

.sub-text-color-main {
  color: var(--subtext-color-main) !important;
}

.text-color-content {
  color: var(--text-color-content) !important;
}

.sub-text-color-main.active {
  color: var(--text-color-main) !important;
}

.text-color-two {
  color: var(--text-hover) !important;
}

.bg-offcanvas {
  background-color: var(--bg-offcanvas) !important;
}

.bg-color-1 {
  background-color: var(--bg-color-1) !important;
}

.prev-price {
  color: var(--subtext-color-main) !important;
  text-decoration: line-through !important;
  text-decoration-color: var(--text-color-main) !important;
}

@media only screen and (min-width: 1600px) {
  .container {
    max-width: 1500px !important;
  }
}