:root{
  --bg-main: #FFFFFF;
  --bg-offcanvas: #fffffff8;
  --bg-btn: #F04055;
  --text-color-main: #00144a;
  --text-hover: #f3273f;
}

.bg-main {
  background-color: var(--bg-main) !important;
}

.bg-btn {
  background-color: var(--bg-btn) !important;
  color: var(--bg-main) !important;
}

.text-color-main {
  color: var(--text-color-main) !important;
}

.text-color-two {
  color: var(--text-hover) !important;
}

.bg-offcanvas {
  background-color: var(--bg-offcanvas) !important;
}

@media only screen and (min-width: 1700px) {
  .container {
    max-width: 1500px !important;
  }
}