@font-face {
  font-family: Dirooz;
  src: url('../public/assets/font/Dirooz-FD.ttf');
  font-weight: bold;
}

.fm-dirooz{
  font-family: Dirooz;
}

body {
  font-family: Dirooz !important;
  background-color: var(--bg-main) !important;
}

#root{
  overflow-y: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

main{
  margin-top: 13rem;
}